body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat__wrapper{
   
    width:40%;
    height:80%;
     background-color: rgba(255, 255, 255, 0.65);
     border-top-left-radius: 50px ;
     border-bottom-left-radius: 50px ;
     border-bottom-right-radius: 50px;
     padding: 0 0 50px 50px;
}

.chat__container{
    height: 760px;
    overflow:auto; 
}

#name{
    position: absolute;
    text-align: center;
    bottom: 817px;
    left: 25%;
    width: 50%;
    font-size: 20px;
    padding:10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border:0;
    background-color: rgba(255, 255, 255, 0.15);
    height:30px;
    transition: .5s;
}

#name:focus{
    background-color: rgba(255, 255, 255, 0.65);
    outline: none;
}


#message{
    width: 100%;
    padding:10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:30px;
    transition: .5s;
}
#message:hover{
    box-shadow:0 0 0px 4px rgba(0,0,0,0.06);
}

#message:focus{
    outline: none;
    box-shadow:0 0 0px 4px rgba(0,0,0,0.06);
}



.send_button{
    font-size: 20px;
    background: #30a3e6;        
	color: white;
	border-style: outset;
	border-color: #0066A2;
    border: 0;
	height: 50px;
	width: 100px;
	text-shadow:#0066A2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
    transition: .3s;
}

.send_button:hover{
    background: #0f86ca;
    font-size: 23px;
}





#messageForm{
    display: flex;
    width: 37%;
    justify-content: space-between;
    position:absolute;
    top: 840px;
    
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#chat div{
    color: rgb(56, 39, 56);
    font-size: 18px;
    margin-top: 8px;
    background-color: rgba(137, 43, 226, 0.123);
    border-radius: 10px;
    padding-left: 5px;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(255, 145, 145);
    border-radius: 3px;
   
}

::-webkit-scrollbar-thumb{
    background-color: rgba(23, 23, 23, 0.641);
    border-radius: 2px;
}

