<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

      

        <div class="auth_wrapper">
            <div class="auth">
                <div class="error">Неправильный логин или пароль</div>
                <form class="form login-form" action="">
                    <div class="form-inputs">
                        <label for="login-input">Login:</label>
                        <input class="input" type="text" id="login-input" autocomplete="off">
                        <label for="pass-input">Password:</label>
                        <input  class="input pas-input"  type="password" id="pass-input" autocomplete="off">
                    </div>
                    
                    <div class="form-btns">
                        <button class="btn up-btn" type="submit" >Sign Up</button>
                        <button class="btn in-btn" type="submit" >Sign In</button>
                    </div>
                     
                </form>
     
            </div>
        </div>

        
    </div>
</body>
<script src="../js/auth.js"></script>
</html>