<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Blah blah</title>
</head>
<body>  
    <div class="container">

        <div class="profile_wrapper">
            <div class="profile">
                <div class="profile_inner">
                    <span id="name_value"></span>
                   
                </div>  
                <button id="exitBtn">Выйти</button>
                <button id="profileBtn" class="hide_usersBtn">Скрыть</button>
            </div>
        </div>

        <div class="chat__wrapper">
            
                <div class="chat__container">
                    <div id="chat" >
                        
                    </div>
                    <div class="wrapper_Scrollbottom"></div>
                </div>

            <form id="messageForm" >
                <span id="collocutor"> </span>
                <input type="text" name="message" id="message" placeholder="Введите сообщение..." value="" autocomplete="off">
                <input type="submit" value=">" class="send_button">
            </form>

        </div>
        <div class="online_users_wrapper">
            <div class="online_users">
                <div class="online_users_inner">
                    <span id="online_value"></span>
                   
                </div>  
                <div class="users">
                    <div class="user user-selected" id="alex">alex</div>
                    <div class="user user-selected" id="alex1">alex1</div>
                    <div class="user user-selected" id="alex2">alex2</div>
                </div>
                <button id="usersBtn" class="hide_usersBtn">Скрыть</button>
            </div>
        </div>
        
    </div>
    <script type="module" src="../js/client.js"></script>
    <script type="module" src="../js/onlineUsersHandler.js"></script>
    <script type="module" src="../js/profileHandler.js"></script>
</body>
</html>